body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    background-color: #333;
    color: #0c0404;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #1f0505;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d9534f;
    /* Red color on hover */
}

/* Hero section styles with background image */
#hero {
    background-image: url('img/logo infinity 1.jpeg');
    /* Replace with your image URL */
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #c9302c;
}

/* Section styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #3a3131;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-bottom: 10px;
    }

    #hero {
        padding: 80px 0;
    }

    .container {
        padding: 20px;
    }
}